extends layout

block content
	div.col-md-12
		each mypost in myposts
			div.posts
				p
					a#title(href='posts/'+mypost.id) #{mypost.title}
				p#messages= mypost.body
				//a.btn.btn-xs.btn-danger Delete

script( src='//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js' )
script( src='//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js' )